

.App {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.Card__container {

    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.Card__container__main{
    flex: 1 0 15%;
    margin: 24px 20px 24px 0 ;
}
.BasicSelect__container {
    width: 90%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    padding: 32px 0 32px  0;
    flex-wrap: wrap;
    flex: 1 0 15%; /* explanation below */


}
.BasicSelect_Sort{
    min-width: 120px;
    width: 288px;
    max-width: 288px;
    /*background-color: #F2F2F2;*/
    padding-left: 24px;
}

.BasicBreadcrumbs__container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 32px 0 32px  0;
}
.Header__container{
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.Header{

    font-family:'SF Pro Display', sans-serif for src;
    src: url("../public/fonts/SFProDisplay-Regular.ttf") ;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
}

.header-select{
    font-family:'SF Pro Display', sans-serif for src;
    src: url("../public/fonts/SFProDisplay-Regular.ttf") ;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #4F4F4F;

}
.BasicSelect__Sort{
    margin-right: 24px;
}
