@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);

@import url(//db.onlinewebfonts.com/c/5ad142d0e49ca868b1530c30a47c625f?family=SF+UI+Text);

.App {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.Card__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.Card__container__main{
    flex: 1 0 15%; /* explanation below */
    margin: 24px 20px 24px 0 ;
}
.BasicSelect__container {

    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 32px 0 32px  0;

}
.BasicSelect_Sort{
    min-width: 120px;
    width: 288px;
    max-width: 288px;
    /*background-color: #F2F2F2;*/
    padding-left: 24px;
}

.BasicBreadcrumbs__container {
    padding: 32px 0 32px  0;
}

.Header{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
}

.header-select{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #4F4F4F;

}
.BasicSelect__Sort{
    padding-left: 24px;
}
